
<ActionBar title=""> </ActionBar>
<ScrollView class="page" style="background:#f7f4ec;">
  <StackLayout class="home-panel">
      <GridLayout>
          <ScrollView>
              <StackLayout class="home-panel">
                  <Label text="Change Password"
                      class="h1 text-center font-weight-300 change-psd-label;"></Label>
                  <TextField style="border:1px solid;padding:20px"
                      [(ngModel)]="textFieldValue" hint="Old Password">
                  </TextField>
                  <TextField style="border:1px solid;padding:20px"
                      [(ngModel)]="textFieldValue" hint="New Password">
                  </TextField>
                  <TextField style="border:1px solid;padding:20px"
                      [(ngModel)]="textFieldValue" hint="Confirm Password">
                  </TextField>
                  <FlexboxLayout style="margin-top:-25px">
                      <Button class="font-bold full-width background-grey"
                          text="CANCEL" (tap)="cancel()"></Button>
                      <Button style="margin-left:-20px !important"
                          class="font-white font-bold full-width background-green"
                          text="SUBMIT" (tap)="submit()"></Button>
                  </FlexboxLayout>
              </StackLayout>
          </ScrollView>
      </GridLayout>
  </StackLayout>
</ScrollView>