<ActionBar title=""> </ActionBar>


<ScrollView class="page" style="background:#f7f4ec;">
    <StackLayout class="home-panel">
        <!--Add your page content here-->
        <Label text="Sign Up" class="h1 text-center font-weight-300 change-psd-label;"></Label>
        <TextField [(ngModel)]="first_name" hint="First Name"></TextField>
        <TextField [(ngModel)]="last_name" hint="Last Name"></TextField>
        <TextField [(ngModel)]="email" hint="Email"></TextField>
        <TextField keyboardType="number" [(ngModel)]="mobile_number" hint="Mobile Number"></TextField>
        <FlexboxLayout >
            <Button class="font-bold full-width background-grey" text="CANCEL" (tap)="cancel()"></Button>
            <Button style="margin-left:-20px !important" class="font-white font-bold full-width background-green"
                text="SIGN UP" (tap)="signUp()"></Button>
        </FlexboxLayout>
        
        <!-- <RadListView class="list-group" [items]="countries" selectionBehavior="Press" multipleSelection="true"
            (itemSelecting)="onItemSelecting($event)" (itemDeselecting)="onItemSelecting($event)">
            <ng-template let-country="item">
                <FlexboxLayout flexDirection="row" class="list-group-item">
                    <Image [src]="country.imageSrc" class="thumb img-circle"></Image>
                    <Label [text]="country.name" class="list-group-item-heading" verticalAlignment="center"
                        style="width: 60%"></Label>
                </FlexboxLayout>
            </ng-template>
        </RadListView> -->
    </StackLayout>
</ScrollView>