<ActionBar title=""> </ActionBar>

<ScrollView class="page" style="background:#f7f4ec;margin-top:-100em;">
  <StackLayout class="home-panel">
      <GridLayout>
          <ScrollView>
              <StackLayout class="home-panel">
                  <Label textWrap="true" text="Forgot Password" class="h1 text-center "></Label>
                  <Label textWrap="true" text="Please enter the Email Address you had provided" class="font-weight-300 text-center font-grey" fontSize="15"></Label>
                  <Label textWrap="true" text="while creating your account" class="font-weight-300 text-center description-label font-grey" fontSize="15"></Label>
                  <TextField style="border:1px solid;padding:27px" [(ngModel)]="textFieldValue" hint="Email"></TextField>
                  <FlexboxLayout style="margin-top:-25px">
                      <Button class="font-bold full-width background-grey" text="CANCEL" (tap)="cancel()"></Button>
                      <Button style="margin-left:-20px !important" class="font-white font-bold full-width background-green" text="SEND NOW" (tap)="sendNow()"></Button>
                  </FlexboxLayout>
              </StackLayout>
          </ScrollView>
      </GridLayout>
  </StackLayout>
</ScrollView>